
@font-face {
  font-family: 'Cooper Black';
  src: url('path/to/cooper-black.woff2') format('woff2'),
       url('path/to/cooper-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fde6eb;
  font-family: 'Cooper Black', serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.header {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  font-family: 'Cooper Black', serif;
}

section.header h1 {
  color: #b1005b;
  font-size: 28px;
  margin: 0;
}

section.Retrieve-box {
  margin-top: 40px;
  padding: 25px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  background-color: #fde6eb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Retrieve-box h2 {
  margin-bottom: 20px;
  font-style: italic;
  font-family: 'Cooper Black', serif;
}

.input-group,
.input-password {
  position: relative;
  margin-bottom: 15px;
}

.input-group .material-icons,
.input-password .material-icons {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #FB6F92;
  font-size: 20px;
}

.input-group input,
.input-password input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Retrieve-box button {
  text-align: center;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.otp {
  background-color: #b1005b;
  color: white;
}

.otp:hover {
  background-color: #95004a;
}

.active-button { background-color: #218838; color: white; }

.active-button:hover {
  background-color: #218838;
}

.RedMsg {
  color: red;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.GreenMsg {
  color: green;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.hidden { display: none; }

